.intro-text {
	-fx-font-size: 24px;
	-fx-font-smoothing-type: lcd;
	-fx-text-fill: #000000;
	}
	
.loading-text {
	-fx-font-size: 32px;
	-fx-font-smoothing-type: lcd;
	-fx-text-fill: #ffffff;
}

.menubutton-text {
	-fx-font-size: 20px;
	-fx-font-smoothing-type: lcd;
	-fx-text-fill: #ffffff;
}
